# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [77]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [78]:
Chipo=pd.read_table('Chipo.txt', sep='\t')

### 3) See the first 10 entries

In [79]:
Chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [80]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [81]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [82]:
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [83]:
Chipo.item_name.value_counts().head(1).index[0]

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [84]:
sum(Chipo.quantity[Chipo.item_name=='Chicken Bowl'])

761

### 9) What was the most ordered item in the choice_description column?

In [85]:
Chipo.choice_description.value_counts().head(1).index[0]

'[Diet Coke]'

### 10) How many items were ordered in total?

In [100]:
sum(Chipo.quantity)

4972

### 11) Turn the item price into a float

In [117]:
Chipo.item_price.astype("float")

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [118]:
Chipo.item_price.sum()

34500.16

### 13) How many orders were made in the period?

In [120]:
Chipo.order_id.nunique()

1834

### 14) What is the average revenue amount per order?

In [126]:
round(Chipo.item_price.sum()/Chipo.order_id.nunique())

19.0

### 15) How many different items are sold?

In [122]:
Chipo.item_name.nunique()

50